<app-pdf [elementoClinicHistory]="elementToRendererInPdf" *ngIf="key === 'patient'"></app-pdf>
<div class="container table-center">
      
      <div class="container table-right">
            <table #html class="table table-hover">
                  <thead >                      
                        <h2 class="text-center">Histories</h2>
                        <tr>   
                              <th scope="col">Patient Name</th>
                              <th scope="col">Weigth</th>
                              <th scope="col">Height</th>
                              <th scope="col">Temperature</th>
                              <th scope="col">Pressure</th>
                              <th scope="col">Blood Type</th>
                        </tr>
                  </thead>
                  <tbody *ngIf="key === 'patient'">
                        <tr *ngFor="let ht of historiesFilter">
                              <td>{{ht.patientName}}</td>
                              <td>{{ht.weight}}</td>
                              <td>{{ht.height}}</td>
                              <td>{{ht.temperature}}</td>
                              <td>{{ht.pressure}}</td>
                              <td>{{ht.bloodType}}</td>   
                        </tr>
                  </tbody>
                  <tbody *ngIf="key === 'administrator'">
                        <tr *ngFor="let history of histories">
                              <td>{{history.patientName}}</td>
                              <td>{{history.weight}}</td>
                              <td>{{history.height}}</td>
                              <td>{{history.temperature}}</td>
                              <td>{{history.pressure}}</td>
                              <td>{{history.bloodType}}</td>   
                        </tr>
                  </tbody>
            </table>
      </div>
</div>
