<div class="container register">
    <!--************-->
    <div #modal class="alert alert-success alert-dismissible fade" role="alert">
        <strong>User registed</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
          
          <div class="col-md-3 register-left">
            
              <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
              <h3>Welcome</h3>
              <p>The best attention here!</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Login
              </button>
              
          </div>
          
          <div class="col-md-9 register-right">
              
              <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a #linkPatients class="nav-link active" id="home-tab" data-toggle="tab" href="#" (click)="changeFormPatients()" role="tab" aria-controls="home" aria-selected="true">Patients</a>
                  </li>
                  <li class="nav-item">
                      <a #linkSpecialists class="nav-link" id="profile-tab" data-toggle="tab" href="#" (click)="changeFormSpecialists()" role="tab" aria-controls="profile" aria-selected="false">Specialists</a>
                  </li>
              </ul>
              
              <div [formGroup]="form"  class="tab-content" id="myTabContent">
                
                  <div  #formPatients 
                        class="tab-pane fade show active" 
                        id="home" role="tabpanel" 
                        aria-labelledby="home-tab" 
                        >
                      <h3 class="register-heading">Patients Form</h3>
                      <div class="row register-form">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text"
                                         class="form-control"
                                         placeholder="First Name"
                                         value=""
                                         formControlName="firstNamePatient"
                                         [ngClass]="{'is-invalid': Form.firstNamePatient.touched && Form.firstNamePatient.errors}"
                                         required 
                                         />
                                  <div *ngIf="Form.firstNamePatient.touched && Form.firstNamePatient.errors"    
                                  class="invalid-feedback">
                                    <div *ngIf="Form.firstNamePatient.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.firstNamePatient.errors.maxlength">
                                        20 characters max 
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="text"
                                class="form-control"
                                placeholder="Last Name"
                                value=""
                                formControlName="lastNamePatient"
                                [ngClass]="{'is-invalid': Form.lastNamePatient.touched && Form.lastNamePatient.errors}"
                                required 
                                />
                                <div *ngIf="Form.lastNamePatient.touched && Form.lastNamePatient.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.lastNamePatient.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.lastNamePatient.errors.maxlength">
                                        20 characters max 
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="number"
                                class="form-control"
                                placeholder="Age"
                                value=""
                                formControlName="agePatient"
                                [ngClass]="{'is-invalid': Form.agePatient.touched && Form.agePatient.errors}"
                                required 
                                />
                                <div *ngIf="Form.agePatient.touched && Form.agePatient.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.agePatient.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.agePatient.errors.max">
                                        The patient must be less than 99 years old
                                    </div>
                                </div>
                            </div>
                              <div class="form-group">
                                <input type="text"
                                class="form-control"
                                placeholder="DNI"
                                value=""
                                formControlName="dniPatient"
                                [ngClass]="{'is-invalid': Form.dniPatient.touched && Form.dniPatient.errors}"
                                required 
                                />
                                <div *ngIf="Form.dniPatient.touched && Form.dniPatient.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.dniPatient.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.dniPatient.errors.min">
                                        DNI must be greater than 10,000,000
                                    </div>
                                    <div *ngIf="Form.dniPatient.errors.max">
                                        DNI must be less than 99.000.000
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                <input type="email"
                                class="form-control"
                                placeholder="Your Email"
                                value=""
                                formControlName="emailPatient"
                                [ngClass]="{'is-invalid': Form.emailPatient.touched && Form.emailPatient.errors}"
                                required 
                                />
                                <div *ngIf="Form.emailPatient.touched && Form.emailPatient.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.emailPatient.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.emailPatient.errors.email">
                                        invalid email
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="password"
                                class="form-control"
                                placeholder="Your Password"
                                value=""
                                formControlName="passwordPatient"
                                [ngClass]="{'is-invalid': Form.passwordPatient.touched && Form.passwordPatient.errors}"
                                required 
                                />
                                <div *ngIf="Form.passwordPatient.touched && Form.passwordPatient.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.passwordPatient.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.passwordPatient.errors.maxlength">
                                        Password must be less than 20 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                class="form-control"
                                placeholder="Your Social Work"
                                value=""
                                formControlName="socialWork"
                                [ngClass]="{'is-invalid': Form.socialWork.touched && Form.socialWork.errors}"
                                required 
                                />
                                <div *ngIf="Form.socialWork.touched && Form.socialWork.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.socialWork.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.socialWork.errors.maxlength">
                                        Social Work must be less than 30 characters
                                    </div>
                                </div>
                          </div>
                              <div class="form-group">
                                  <input type="file"
                                  name="file[]"
                                  (change)="getFilePatient($event)" 
                                  class="form-control" 
                                  placeholder="Photos" 
                                  value="" 
                                  multiple/>
                              </div>
                              
                              <input type="button" (click)="UploadFilePatients()" class="btnRegister"  value="Register"/>
                              
                          </div>
                      </div>
                  </div>
                  <div #formSpecialists class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <h3  class="register-heading">Specialists Form</h3>
                      <div class="row register-form">
                          <div class="col-md-6">
                              <div class="form-group">
                                <input type="text"
                                class="form-control"
                                placeholder="First Name"
                                value=""
                                formControlName="firstNameSpecialist"
                                [ngClass]="{'is-invalid': Form.firstNameSpecialist.touched && Form.firstNameSpecialist.errors}"
                                required 
                                />
                         <div *ngIf="Form.firstNameSpecialist.touched && Form.firstNameSpecialist.errors"    
                         class="invalid-feedback">
                           <div *ngIf="Form.firstNameSpecialist.errors.required">
                               Is required
                           </div>
                           <div *ngIf="Form.firstNameSpecialist.errors.maxlength">
                               20 characters max 
                           </div>
                       </div>
                              </div>
                              <div class="form-group">
                                <input type="text"
                                class="form-control"
                                placeholder="Last Name"
                                value=""
                                formControlName="lastNameSpecialist"
                                [ngClass]="{'is-invalid': Form.lastNameSpecialist.touched && Form.lastNameSpecialist.errors}"
                                required 
                                />
                                <div *ngIf="Form.lastNameSpecialist.touched && Form.lastNameSpecialist.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.lastNameSpecialist.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.lastNameSpecialist.errors.maxlength">
                                        20 characters max 
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="number"
                                class="form-control"
                                placeholder="Age"
                                value=""
                                formControlName="ageSpecialist"
                                [ngClass]="{'is-invalid': Form.ageSpecialist.touched && Form.ageSpecialist.errors}"
                                required 
                                />
                                <div *ngIf="Form.ageSpecialist.touched && Form.ageSpecialist.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.ageSpecialist.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.ageSpecialist.errors.max">
                                        The patient must be less than 99 years old
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="text"
                                class="form-control"
                                placeholder="DNI"
                                value=""
                                formControlName="dniSpecialist"
                                [ngClass]="{'is-invalid': Form.dniSpecialist.touched && Form.dniSpecialist.errors}"
                                required 
                                />
                                <div *ngIf="Form.dniSpecialist.touched && Form.dniSpecialist.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.dniSpecialist.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.dniSpecialist.errors.min">
                                        DNI must be greater than 10,000,000
                                    </div>
                                    <div *ngIf="Form.dniSpecialist.errors.max">
                                        DNI must be less than 99.000.000
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                <input type="email"
                                class="form-control"
                                placeholder="Your Email"
                                value=""
                                formControlName="emailSpecialist"
                                [ngClass]="{'is-invalid': Form.emailSpecialist.touched && Form.emailSpecialist.errors}"
                                required 
                                />
                                <div *ngIf="Form.emailSpecialist.touched && Form.emailSpecialist.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.emailSpecialist.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.emailSpecialist.errors.email">
                                        invalid email
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <input type="password"
                                class="form-control"
                                placeholder="Your Password"
                                value=""
                                formControlName="passwordSpecialist"
                                [ngClass]="{'is-invalid': Form.passwordSpecialist.touched && Form.passwordSpecialist.errors}"
                                required 
                                />
                                <div *ngIf="Form.passwordSpecialist.touched && Form.passwordSpecialist.errors"    
                                class="invalid-feedback">
                                    <div *ngIf="Form.passwordSpecialist.errors.required">
                                        Is required
                                    </div>
                                    <div *ngIf="Form.passwordSpecialist.errors.maxlength">
                                        Password must be less than 20 characters
                                    </div>
                                </div>
                              </div>
                              <div class="form-group">
                                  <select formControlName="speciality"      class="form-control">
                                      <option selected>Ophthalmologist</option>
                                      <option>Cardiology</option>
                                      <option>Pediatrics</option>
                                      <option>Dentist</option>
                                      <option>Neurology</option>
                                      <option>Psychology</option>
                                  </select>
                              </div>
                              
                              <div class="form-group">
                                  <input type="file"
                                        name="file[]"
                                        (change)="getFileSpecialist($event)"
                                        class="form-control" placeholder="Photo" 
                                        value=""
                                        multiple />
                              </div>
                              
                              <input type="button" (click)="UploadFileSpecialist()"class="btnRegister"  value="Register"/>
                              
                          </div>
                          
                      </div>
                      
                  </div>
                  <div class="form-group">
                      <div class="form-control">
                        <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        formControlName="recaptcha">
                      </ngx-recaptcha2>
                      </div>
                  </div>
                    
                  
              </div>
          </div>
      </div>
    
    </div>
    <app-login></app-login> 

    <div class="container2">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a class="user1" (click)="rapidAccess('user1')"></a>
            <a class="user2" (click)="rapidAccess('user2')"></a>
            <a class="user3" (click)="rapidAccess('user3')"></a>
            <a class="user4" (click)="rapidAccess('user4')"></a>
            <a class="user5" (click)="rapidAccess('user5')"></a>
            <a class="user6" (click)="rapidAccess('user6')"></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>
    
