<input type="button" class="btn btn-danger m-3" (click)="goShifts()" value=" Shifts">
<input type="button" class="btn btn-success m-3" (click)="goRequestShifts()" value="Load Shifts">
<input type="button" class="btn btn-warning m-3" (click)="profile()" value="Profile">
<div class="container table-center">
      
      <div class="container table-right">
            <table class="table table-hover">
                  <thead>
                        <h2 class="text-center">Patients</h2>
                        <tr>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Age</th>
                              <th scope="col">Dni</th>
                              <th scope="col">Email</th>
                              <th scope="col">Social Work</th>
                              <th scope="col">Photo</th>
                        </tr>
                  </thead>
                  <tbody *ngFor="let patient of patients">
                        <tr>
                              <td>{{patient.firstName}}</td>
                              <td>{{patient.lastName}}</td>
                              <td>{{patient.age}}</td>
                              <td>{{patient.dni}}</td>
                              <td>{{patient.email}}</td>
                              <td>{{patient.socialWork}}</td>   
                              <td><img src={{patient.photo}}  alt="Image" width="50px" height="50px"></td> 
                        </tr>
                  </tbody>
            </table>
      </div>
</div>
<!--****-->

<div class="container table-center">
      <div class="container table-right">
            <table class="table table-hover">
                  <thead >                      
                        <h2 class="text-center">Specialists</h2>
                        <tr>   
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Age</th>
                              <th scope="col">Dni</th>
                              <th scope="col">Email</th>
                              <th scope="col">Speciality</th>
                              <th scope="col">Photo</th>
                              <th scope="col">Permit Access</th>
                        </tr>
                  </thead>
                  <tbody *ngFor="let specialist of specialists">
                        <tr>
                              <td>{{specialist.firstName}}</td>
                              <td>{{specialist.lastName}}</td>
                              <td>{{specialist.age}}</td>
                              <td>{{specialist.dni}}</td>
                              <td>{{specialist.email}}</td>
                              <td>{{specialist.speciality}}</td>
                              <td><img src={{specialist.photo}} alt="Image" width="50px" height="50px"></td> 
                              <td>
                                    <div class="checkbox mb-3" >
                                          <input *ngIf="specialist.access" #check (change)="isChecked(specialist.id)" type="checkbox" name="" id="" checked>
                                          <input *ngIf="specialist.access == false" #check (change)="isChecked(specialist.id)" type="checkbox" name="" id="">
                                    </div>
                              </td>      
                        </tr>
                  </tbody>
            </table>
      </div>
</div>
<!--***-->
<div class="container table-center">
      <div class="container table-right">
            <table class="table table-hover">
                  <thead>
                        <h2 class="text-center">Administrators</h2>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                              Add Administrator
                            </button>
                            <tr>   
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Age</th>
                              <th scope="col">Dni</th>
                              <th scope="col">Email</th>
                              <th scope="col">Photo</th>
                        </tr>
                  </thead>
                  <tbody *ngFor="let admin of administrators">
                        <tr>
                              <td>{{admin.firstName}}</td>
                              <td>{{admin.lastName}}</td>
                              <td>{{admin.age}}</td>
                              <td>{{admin.dni}}</td>
                              <td>{{admin.email}}</td>
                              <td><img src={{admin.photo}} alt="Image" width="50px" height="50px"></td>     
                        </tr>
                  </tbody>
            </table>
      </div>
</div>