<div class="container table-center mt-3">
      <div class="container table-right ">
          <h2>Shifts</h2>
            <div [formGroup]="formShifts" class="form-group">
                <div class="form-group">
                    <input *ngIf="this.isAdmin"
                            type="text"
                           class="form-control"
                           placeholder="Patient Name"
                           value=""
                           formControlName="patientName"
                           [ngClass]="{'is-invalid': Form.patientName.touched && Form.patientName.errors}"
                           required 
                           />
                    <div *ngIf="Form.patientName.touched && Form.patientName.errors"    
                    class="invalid-feedback">
                      <div *ngIf="Form.patientName.errors.required">
                          Is required
                      </div>
                      <div *ngIf="Form.patientName.errors.maxlength">
                          20 characters max 
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <select formControlName="speciality"      class="form-control">
                      <option selected>Ophthalmologist</option>
                      <option>Cardiologyr</option>
                      <option>Pediatrics</option>
                  </select>
                </div>
                  <div class="form-group">
                    <select formControlName="specialist"      class="form-control">
                        <option selected>Lio Messi</option>
                        <option>Mauro Icardi</option>
                        <option>Wanda Nara</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number"
                    class="form-control"
                    placeholder="day"
                    value=""
                    formControlName="day"
                    [ngClass]="{'is-invalid': Form.day.touched && Form.day.errors}"
                    required 
                    />
                    <div *ngIf="Form.day.touched && Form.day.errors"    
                    class="invalid-feedback">
                        <div *ngIf="Form.day.errors.required">
                            Is required
                        </div>
                        <div *ngIf="Form.day.errors.min">
                            DNI must be greater than 10,000,000
                        </div>
                        <div *ngIf="Form.day.errors.max">
                            DNI must be less than 99.000.000
                        </div>
                    </div>
                  </div>
                <div class="form-group">
                    <input formControlName="month" type="number" class="form-control" placeholder="Month">
                </div>
                <div class="form-group">
                    <input formControlName="hour" type="number" class="form-control" placeholder="Hour">
                </div>
                <div class="form-group">
                    <input type="button" (click)="addShift()" class="btn btn-primary" value="Submit">
                </div>
              </div>   
      </div>
</div>