<div class="container table-center mt-3">
      <div class="container table-right ">
          <h2>Shifts</h2>
            <div [formGroup]="formShifts" class="form-group">
                <div class="form-group">
                    <select  formControlName="patientName"      
                            class="form-control">
                      <option *ngFor="let name of patientsName" [ngValue]="name" selected>{{name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <select  formControlName="speciality"      
                  class="form-control">
                      <option *ngFor="let speciality of specialities" [ngValue]="speciality" selected>{{speciality}}</option>
                  </select>
                </div>
                  <div class="form-group">
                    <select formControlName="specialist"      class="form-control">
                        <option *ngFor="let specialist of specialists" [ngValue]="specialist" selected>{{specialist}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number"
                    class="form-control"
                    placeholder="day"
                    value=""
                    formControlName="day"
                    [ngClass]="{'is-invalid': Form.day.touched && Form.day.errors}"
                    required 
                    />
                    <div *ngIf="Form.day.touched && Form.day.errors"    
                    class="invalid-feedback">
                        <div *ngIf="Form.day.errors.required">
                            Is required
                        </div>
                        <div *ngIf="Form.day.errors.max">
                            30 max
                        </div>
                    </div>
                  </div>
                  
                <div class="form-group">
                    <input type="number"
                    class="form-control"
                    placeholder="Month"
                    value=""
                    formControlName="month"
                    [ngClass]="{'is-invalid': Form.month.touched && Form.month.errors}"
                    required 
                    />
                    <div *ngIf="Form.month.touched && Form.month.errors"    
                    class="invalid-feedback">
                        <div *ngIf="Form.month.errors.required">
                            Is required
                        </div>
                        <div *ngIf="Form.month.errors.max">
                            12 max
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number"
                    class="form-control"
                    placeholder="Hour"
                    value=""
                    formControlName="hour"
                    [ngClass]="{'is-invalid': Form.hour.touched && Form.hour.errors}"
                    required 
                    />
                    <div *ngIf="Form.hour.touched && Form.hour.errors"    
                    class="invalid-feedback">
                        <div *ngIf="Form.hour.errors.required">
                            Is required
                        </div>
                        <div *ngIf="Form.hour.errors.max">
                            24 max
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="button" (click)="addShift()" class="btn btn-primary" value="Submit">
                </div>
              </div>   
      </div>
</div>