.table-center{
      background: -webkit-linear-gradient(left, #3931af, #00c6ff);
      margin-top: 3%;
      padding: 3%;
  }
  .table-right{
      background: #f8f9fa;
      margin-top: 3%;
      padding: 3%;
  }

  .btn-success{
    border-radius: 0%;
  }
  .btn-info{
    border-radius: 50%;
  }
  .btn-secondary{
      border-radius: 20%;
  }