<button type="button" class="btn btn-danger m-3" (click)="logout()">Logout</button>
<input *ngIf="key === 'specialist'" type="button" class="btn btn-success m-3" (click)="patientsFunction()" value="Patients">
<input *ngIf="key === 'administrator' || key === 'patient'" type="button" class="btn btn-info m-3" (click)="goRequestShifts()" value="Load Shifts">
<input *ngIf="key === 'specialist' || key === 'patient'" type="button" class="btn btn-warning m-3" (click)="profile()" value="Profile">
<div class="container-fluid table-center">
      <h2>Welcome {{name}}</h2>
      <div class="form-group">
            <input (click)="resetFilters()" type="button" class="btn btn-warning m-3" value="Reset Filters">
            <div class="row m-3">
                  <div class="col m-3">
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter Specility</h3>
                              <input *ngFor="let spt of specialities" (click)="filterSpeciality(spt)" type="button" class="btn btn-warning m-3" value="{{spt}}">
                        </div>
                        <div *ngIf="key === 'patient'" class="form-control">
                              <h3>Filter Specialist</h3>
                              <input *ngFor="let sp of specialists" (click)="filterSpecialist(sp)" type="button" class="btn btn-info m-3" value="{{sp}}">
                        </div>
                        <div *ngIf="key === 'specialist'" class="form-control">
                              <h3>Filter Patient Name</h3>
                              <input *ngFor="let pat of patients" (click)="filterPatient(pat)" type="button" class="btn btn-info m-3" value="{{pat}}">
                        </div>
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter Date</h3>
                              <input *ngFor="let dt of dates" (click)="filterDates(dt)" type="button" class="btn btn-success m-3" value="{{dt}}">
                        </div>
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter State</h3>
                              <input *ngFor="let st of states" (click)="filterStates(st)" type="button" class="btn btn-info m-3" value="{{st}}">
                        </div>
                  </div>
                  <div class="col m-3">
                        
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter Height</h3>
                              <input *ngFor="let ht of histories" type="button" (click)="filterHeight(ht.idShift)" class="btn btn-info m-3" value="{{ht.height}} cm">
                        </div>
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter Weight</h3>
                              <input *ngFor="let ht of histories" type="button" (click)="filterWeight(ht.idShift)" class="btn btn-info m-3" value="{{ht.weight}} kg">
                        </div>
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter Temperature</h3>
                              <input *ngFor="let ht of histories" type="button" (click)="filterTemperature(ht.idShift)" class="btn btn-info m-3" value="{{ht.temperature}} °C">
                        </div>
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter Pressure</h3>
                              <input *ngFor="let ht of histories" type="button" (click)="filterPressure(ht.idShift)" class="btn btn-info m-3" value="{{ht.pressure}}">
                        </div>
                        <div *ngIf="key === 'patient' || key === 'specialist'" class="form-control">
                              <h3>Filter Blood Type</h3>
                              <input *ngFor="let ht of histories" type="button" (click)="filterBloodType(ht.idShift)" class="btn btn-info m-3" value="{{ht.bloodType}}">
                        </div>
                        
                        
                             
                        
                        
                        
                  </div>
                  
            </div>
            
            
            
            
      </div>
     
      
      <div class="container-fluid table-right">
            <table #body  class="table table-hover">
                  <thead>
                        <h2 class="text-center">Shifts</h2>
                        <tr *ngIf="key === 'patient'">
                              <th scope="col">Patient Name</th>
                              <th scope="col">Speciality</th>
                              <th scope="col">Specialist</th>
                              <th scope="col">Date</th>
                              <th scope="col">Time</th>
                              <th scope="col">Cancel</th>
                              <th scope="col">Review</th>
                              <th scope="col">Survey</th>
                              <th scope="col">rate Attention</th>
                              <th scope="col">State</th>
                      
                        </tr>
                        <tr *ngIf="key === 'specialist'">
                              <th scope="col">Patient Name</th>
                              <th scope="col">Speciality</th>
                              <th scope="col">Specialist</th>
                              <th scope="col">Date</th>
                              <th scope="col">Time</th>
                              <th scope="col">Cancel</th>
                              <th scope="col">Review</th>
                              <th scope="col">Refuse Turn</th>
                              <th scope="col">Accept Turn</th>
                              <th scope="col">End Turn</th>
                              <th scope="col">State</th>      
                        </tr>
                  </thead>
                  <tbody *ngFor="let shift of shiftsFilter">
                        <tr *ngIf="shift !== null && key === 'patient' && shift.state !== 'cancel'">
                              <td>{{shift.patientName}}</td>
                              <td>{{shift.speciality}}</td>
                              <td>{{shift.specialist}}</td>
                              <td>{{shift.date}}</td>
                              <td>{{shift.time}}</td>
                              <td><button *ngIf="shift.state !== 'realized'" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" (click)="cancelShift(shift.id)">
                                    Cancel
                                  </button></td>
                              <td><input *ngIf="shift.commentary !== '' && key === 'patient'" type="button" class="btn btn-info" value="See Review" (click)="seeReview(shift.commentary)"></td>
                              <td><input *ngIf="shift.state === 'realized'" type="button" class="btn btn-info" value="complete Survey" (click)="survey(shift.id)"></td>
                              <td><input *ngIf="shift.state === 'realized'" type="button" class="btn btn-info" value="Rate Attention" data-toggle="modal" data-target="#exampleModalCenter1" (click)="rateAttentionID(shift.id)"></td>
                              <td>{{shift.state}}</td>
                        </tr>
                        <tr *ngIf="shift !== null && key === 'specialist' && shift.state !== 'cancel'">
                              <td>{{shift.patientName}}</td>
                              <td>{{shift.speciality}}</td>
                              <td>{{shift.specialist}}</td>
                              <td>{{shift.date}}</td>
                              <td>{{shift.time}}</td>
                              <td><button *ngIf="shift.state !== 'realized'" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" (click)="cancelShift(shift.id)">
                                    Cancel
                                  </button></td>
                              <td><input *ngIf="shift.commentary !== null && key === 'specialist'" type="button" class="btn btn-info" value="See Review" (click)="seeReview(shift.id)"></td>
                              <td><input *ngIf="key === 'specialist' && shift.state !== 'realized'" type="button" class="btn btn-info" value="Refuse Turn" (click)="refuseTurn(shift.id)"></td>
                              <td><input *ngIf="key === 'specialist' && shift.state !== 'realized'" type="button" class="btn btn-info" value="Accept Turn" (click)="acceptTurn(shift.id)"></td>
                              <td><input *ngIf="key === 'specialist' && shift.state !== 'realized'" type="button" class="btn btn-info" value="End shift" (click)="finishTurnID(shift.id, shift.patientName)" data-toggle="modal" data-target="#exampleModalCenter2"></td>
                              
                              <td>{{shift.state}}</td>
                        </tr>
                  </tbody>
                  
            </table>
      </div>
</div>
<!--********-->

<!--****-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Why do you want to cancel the shift?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <textarea #texarea name="" id="" cols="30" rows="10">
                  
            </textarea>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="getReview()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">how was your care at the clinic?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <textarea #att name="" id="" cols="30" rows="10">
                  
            </textarea>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="rateAttention()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">diagnosis made?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <textarea #texareaFinish name="" id="" cols="30" rows="10">
                  
            </textarea>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="finishTurn()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

