
body{
      width: 100%;
      text-align: center;
      background: url("assets/doctor.jpg");
      background-color: rgba(0,0,0,.3);
      background-blend-mode: soft-light;
      background-size: cover;
      background-position: center;
      box-sizing: border-box;
  }